@model MVC_RelationalDatabase.ViewModels.DetailsClassViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>
    </dl>
    <h4>Teachers</h4>

    <ul class="list-unstyled">
        @foreach (var t in Model.Class.Teachers)
        {
            <li>
                @Html.DisplayName(t.TeacherName)
            </li>
        }
    </ul>
    <h4>Students</h4>
    <ul class="list-unstyled">
        @foreach (var s in Model.Students)
        {
            <li>
                @Html.DisplayName(s.StudentName)
            </li>
        }
        </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Class.ClassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
