@model MVC_RelationalDatabase.ViewModels.EditClassViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Class</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Class.ClassID)

        <div class="form-group">
            @Html.LabelFor(model => model.Class.ClassName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Class.ClassName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Class.ClassName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Teachers</h4>
            @for (int i = 0; i < Model.Teachers.Count(); i++)
            {
                <div class="checkbox">
                    <label>
                        @Model.Teachers.ElementAt(i).TeacherName
                        @Html.EditorFor(model => model.Selected[i])
                    </label>
                </div>
            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
