@model MVC_RelationalDatabase.ViewModels.DetailsTeacherViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.TeacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.TeacherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.TeacherEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.TeacherEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.TeacherPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.TeacherPhone)
        </dd>

    </dl>
	<hr/>
    <h4>Classes</h4>
    <ul class="list-unstyled">
        @foreach (var c in Model.Teacher.Classes)
        {
            <li>
                @Html.ActionLink(c.ClassName, "Details", "Classes", new { id = c.ClassID }, htmlAttributes: null)
            </li>
        }
    </ul>
    <h4>Students</h4>
    <ul class="list-unstyled">
        @foreach (var s in Model.Students)
        {
            <li>                
                @Html.ActionLink(s.StudentName, "Details", "Students", new { id = s.StudentID }, htmlAttributes: null)
            </li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Teacher.TeacherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
