@model MVC_RelationalDatabase.ViewModels.DetailsStudentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Class.ClassName)
        </dt>
        <dd>
            @Html.ActionLink(Model.Student.Class.ClassName, "Details", "Classes", new { id = Model.Student.ClassID }, htmlAttributes: null)
        </dd>

    </dl>
    <h4>Teachers</h4>
    <ul class="list-unstyled"
    @foreach(var t in Model.Teachers)
    {
        <li>
            @Html.ActionLink(t.TeacherName, "Details", "Teachers", new { id = t.TeacherID }, htmlAttributes: null)
        </li>
    }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
